# Feature Engineering 2

In [1]:
# Import packages
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

# Autoreload
%load_ext autoreload
%autoreload 2

# Warnings
import warnings
warnings.filterwarnings('ignore')

# Import data
from bimbo.data import Bimbo

data = Bimbo().get_data()

# Load in the train and test datasets
train_df = data['train']
test_df = data['test']
cliente_tabla_df = data['cliente_tabla']
producto_tabla_df = data['producto_tabla']
town_state_df = data['town_state']
sample_submission_df = data['sample_submission']

### Create clusters of Products (42 clusters)

In [2]:
train_df.head(3)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4

In [3]:
test_df.head(3)

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940

---------------------------

In [4]:
products_id_clusters_df = pd.read_csv('../data/producto_clusters.csv')

In [5]:
products_id_clusters_df.head(3)

,Producto_ID,NombreProducto,ProcessedText,cluster
0,0,NO IDENTIFICADO 0,['identificado'],3
1,9,Capuccino Moka 750g NES 9,"['capuccino', 'moka', 'g', 'ne']",3
2,41,Bimbollos Ext sAjonjoli 6p 480g BIM 41,"['bimbollos', 'ext', 'sajonjoli', 'p', 'g', 'b...",10

In [6]:
new_train_df = pd.merge(train_df, products_id_clusters_df, on='Producto_ID')

-------------

### Create a category of location based on zip code

In [7]:
town_state_df.head(3)

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO

In [8]:
town_state_df.nunique()

Agencia_ID    790
Town          260
State          33
dtype: int64

There are **33 States** in Mexico.

In [9]:
town_state_df['State'].unique().tolist()

['MÉXICO, D.F.',
 'ESTADO DE MÉXICO',
 'HIDALGO',
 'Queretaro de Arteaga',
 'PUEBLA',
 'OAXACA',
 'MORELOS',
 'GUERRERO',
 'TLAXCALA',
 'JALISCO',
 'COLIMA',
 'ZACATECAS',
 'NAYARIT',
 'SAN LUIS POTOSÍ',
 'AGUASCALIENTES',
 'MICHOACÁN',
 'TAMAULIPAS',
 'NUEVO LEÓN',
 'COAHUILA',
 'CHIHUAHUA',
 'DURANGO',
 'SONORA',
 'BAJA CALIFORNIA NORTE',
 'SINALOA',
 'BAJA CALIFORNIA SUR',
 'VERACRUZ',
 'GUANAJUATO',
 'QUERETARO',
 'TABASCO',
 'YUCATÁN',
 'CAMPECHE',
 'QUINTANA ROO',
 'CHIAPAS']

In [10]:
town_state_df['Town'].unique().tolist()

['2008 AG. LAGO FILT',
 '2002 AG. AZCAPOTZALCO',
 '2004 AG. CUAUTITLAN',
 '2029 AG.IZTAPALAPA 2',
 '2011 AG. SAN ANTONIO',
 '2001 AG. ATIZAPAN',
 '2007 AG. LA VILLA',
 '2013 AG. MEGA NAUCALPAN',
 '2018 AG. TEPALCATES 2',
 '2016 AG. SAN LORENZO',
 '2019 AG. XALOSTOC',
 '2094 CHALCO_BM',
 '2021 AG. XOCHIMILCO 2',
 '2017 AG. SANTA CLARA',
 '2003 AG. COACALCO',
 '2010 AG. LOS REYES',
 '2014 AG. NEZA',
 '2015 AG. ROJO GOMEZ',
 '2078 AG. TEXCOCO',
 '2088 AG. CEYLAN',
 '2087 AG. TIZAYUCA',
 '2089 AG. AZCAPOTZALCO INSTITUCIONALES',
 '2048 AG. IXTAPALUCA 1',
 '2116 Cruce De Anden Región Mexico',
 '2092 AG. SANTA CLARA AUTOSERVICIOS',
 '2059 Queretaro Balvanera',
 '2027 AG. VALLEJO',
 '2064 AG. TEPALCATES 1',
 '2041 AG. TULTITLAN',
 '2049 AG. IZTAPALAPA 1',
 '2050 AG. MIXCOAC',
 '2040 AG. CENTRO',
 '2042 AG. TEPOZOTLAN',
 '2070 AG. XOCHIMILCO 1',
 '2066 TOLUCA PONIENTE',
 '2056 PUEBLA NORTE MARINELA',
 '2057 PUEBLA SUR MARINELA',
 '2063 TEHUACAN MARINELA',
 '2053 OAXACA MARINELA',
 '2044 CUERNAVACA BUENAVISTA',
 '2034 ACAPULCO COSTERA',
 '2065 TOLUCA CENTRO',
 '2036 APIZACO MARINELA',
 '2175 TOLUCA AEROPUERTO',
 '2031 AG. PANTITLAN',
 '2260 GONZALEZ GALLO',
 '2273 SAN PEDRO',
 '2278 ZAPOPAN BIMBO',
 '2293 GRANJAS MARINELA',
 '2263 LIBERTAD',
 '2268 PALOMAR',
 '2253 ATOTONILCO',
 '2254 AUTLAN_BM',
 '2255 CD GUZMAN',
 '2258 COLIMA BIMBO',
 '2259 FRESNILLO BIMBO',
 '2264 MANZANILLO BIMBO',
 '2269 PUERTO VALLARTA BIMBO',
 '2277 ZACATECAS BIMBO',
 '2274 TEPATITLAN BIMBO',
 '2267 OCOTLAN BIMBO',
 '2275 TEPIC BIMBO',
 '2262 LA PEÑITA',
 '2265 MATEHUALA BIMBO',
 '2315 SAN LUIS POTOSI MARINELA',
 '2272 SAN LUIS REY',
 '2276 WONDER LA RAZA',
 '2251 AGUASCALIENTES NORTE',
 '2256 CD. MANTE',
 '2257 CD. VALLES',
 '2271 RIO VERDE BIMBO',
 '2252 AGUASCALIENTES SIGLO XXI',
 '2504 TAMPICO MARINELA',
 '2304 MARIANO OTERO_MM',
 '2321 ZACATECAS MARINELA',
 '2325 TECOMAN',
 '2329 AG.HUEJUTLA',
 '2368 TAMPICO BIMBO',
 '2328 SANTIAGO IXCUINTLA',
 '2330 TLAQUEPARQUE',
 '2309 NORTE',
 '2465 LAREDO',
 '2467 LINCOLN',
 '2478 SAN NICOLAS',
 '2468 MATAMOROS BIMBO',
 '2469 MONCLOVA BIMBO',
 '2451 ACUÑA',
 '2474 PIEDRAS NEGRAS',
 '2480 VICTORIA BIMBO',
 '2477 SALTILLO BIMBO',
 '2476 SABINAS',
 '2461 HIDALGO BIMBO',
 '2479 SANTA CATARINA BIMBO',
 '2505 TORREON',
 '2145 Cruce De Anden Norte',
 '2481 WONDER GUERRERO',
 '2455 CHIHUAHUA BIMBO',
 '2472 OJINAGA',
 '2473 PARRAL BIMBO',
 '2457 DELICIAS BIMBO',
 '2454 CUAHUTEMOC',
 '2458 GOMEZ PALACIO BIMBO',
 '2475 REYNOSA BIMBO',
 '2488 JUAREZ',
 '2515 CAVAZOS',
 '2516 ESCOBEDO',
 '2499 REYNOSA MARINELA',
 '2487 AEROPUERTO',
 '2485 CHIHUAHUA MARINELA',
 '2496 LA FE',
 '2462 JUAREZ BIMBO',
 '2520 HERMOSILLO SUR',
 '2563 MEXICALI PONIENTE',
 '2152 Cruce De Anden Noroeste',
 '2552 CABORCA',
 '2566 NOGALES_BW',
 '2551 AGUA PRIETA',
 '2558 GUAYMAS',
 '2554 CD. OBREGON',
 '2565 NAVOJOA',
 '2564 MOCTEZUMA',
 '2553 CANANEA',
 '2555 ENSENADA II',
 '2570 SANTA ANA',
 '2567 PUERTO PEÑASCO',
 '2561 LOS MOCHIS',
 '2557 BW_GUASAVE',
 '2556 GUAMUCHIL',
 '2572 TIJUANA EL FLORIDO',
 '2573 TIJUANA GATO BRONCO',
 '2574 TIJUANA PACIFICO',
 '2571 TECATE',
 '2562 MEXICALI PLAZA',
 '2568 SAN LUIS R.C.',
 '2305 MAZATLAN BIMBO',
 '2290 DURANGO BIMBO',
 '2289 CULIACAN MARINELA',
 '2297 LA PAZ',
 '2314 SAN LUCAS',
 '2417 ZACATLAN',
 '2376 CONVENIENCIA VERACRUZ SUR',
 '2352 CORDOBA',
 '2361 ORIZABA',
 '2355 JALAPA I',
 '2358 MARTINEZ DE LA TORRE',
 '2363 POZA RICA',
 '2370 TEZIUTLAN',
 '2373 TUXPAM',
 '2374 TUXTEPEC',
 '2375 VERACRUZ NORTE',
 '2354 ISLA',
 '2377 VERACRUZ SUR MLA',
 '2364 PUEBLA NORTE BIMBO',
 '2365 PUEBLA SUR BIMBO',
 '2372 AG.TULANCINGO',
 '2353 HUAJUAPAN',
 '2360 OAXACA BIMBO',
 '2415 JUXTLAHUACA',
 '2416 PACHUCA II',
 '2359 AG.MIXQUIAHUALA',
 '2367 SAN MARTIN T.',
 '2407 TEPEACA',
 '2169 Cruce De Andén Sureste',
 '2412 APAN',
 '2413 CIUDAD SERDÁN',
 '2294 GUADALAJARA',
 '2161 IRAPUATO GUADALUPE',
 '2300 LEON MILENIUM',
 '2322 ZAMORA MADERO',
 '2288 CULIACAN BIMBO',
 '2279 ACAPONETA',
 '2306 MAZATLAN MARINELA',
 '2310 NUEVO IDEAL',
 '2313 SAN JOSE DEL CABO',
 '2285 CD. CONSTITUCION',
 '2316 SANTA ROSALIA',
 '2576 GUERRERO NEGRO',
 '2168 MORELIA ABASTOS',
 '2176 TOLUCA SAN ANTONIO',
 '2177 AGENCIA SUANDY',
 '2151 ACAPULCO ESCENICA',
 '2154 ATLACOMULCO',
 '2157 CUAUTLA',
 '2158 CUERNAVACA CIVAC',
 '2159 CHILPANCINGO',
 '2160 IGUALA',
 '2182 ZITACUARO',
 '2162 JOJUTLA_BM',
 '2152 ALTAMIRANO_BM',
 '2169 PINOTEPA',
 '2170 PUERTO ESCONDIDO',
 '2165 LEON SAN JUAN BOSCO',
 '2178 URIANGATO',
 '2155 CELAYA NORPONIENTE',
 '2167 MORELIA LA HUERTA',
 '2179 URUAPAN',
 '2153 APATZINGAN',
 '2164 LAZARO CARDENAS',
 '2181 ZIHUATANEJO',
 '2156 CELAYA INDUSTRIAL WONDER',
 '2163 LA PIEDAD',
 '2174 SAN MIGUEL DE ALLENDE',
 '2055 Pinotepa',
 '2059 QUERETARO BALVANERA',
 '2301 CUBILETE',
 '2186 LAGOS DE MORENO',
 '2296 IRAPUATO SAN MIGUELITO',
 '2080 TEXCOCO WONDER',
 '2081 NAUCALPAN II',
 '2083 AZCAPOTZALCO II MARINELA',
 '2090 AG. TEPEJI DEL RIO',
 '2390 INDUSTRIAL',
 '2396 RUIZ CORTINEZ',
 '2393 MERIDA SUR',
 '2392 MERIDA NORTE',
 '2380 CAMPECHE',
 '2388 CHETUMAL',
 '2381 CANCUN_BM',
 '2395 PLAYA DEL CARMEN',
 '2401 TEKAX',
 '2386 COATZACOALCOS MLA.',
 '2382 CARDENAS',
 '2394 MINATITLAN',
 '2378 ACAYUCAN',
 '2384 CIUDAD DEL CARMEN',
 '2402 TUXTLA',
 '2398 SAN CRISTOBAL',
 '2399 TAPACHULA',
 '2379 ARRIAGA_BM',
 '2391 IXTEPEC',
 '2397 SALINA CRUZ',
 '2410 CANCUN II',
 '2411 COMITAN',
 '2408 ESCARCEGA',
 '2188 MARAVATIO',
 '2189 ACAPULCO SAN ISIDRO',
 '2647 BLM_AG. CAMPESINOS AUTOSERVICI',
 '2190 BI_SAN FRANCISCO DEL RINCON',
 '2655 LOS MOCHIS',
 '3216 NUEVO LAREDO',
 '2032 AG. SANTA LUCIA',
 '2493 MITRAS',
 '2502 SALTILLO MARINELA',
 '2517 SENDERO AUTOSERVICIO',
 '2171 QUERETARO SAN PABLO',
 '2173 SAN JUAN DEL RIO',
 '2187 SALAMANCA',
 '2362 AG.PACHUCA',
 '2414 IZUCAR DE MATAMOROS',
 '2560 LAS TORRES',
 '2366 SAN ANDRES',
 '2371 TIERRA BLANCA',
 '2387 COZUMEL',
 '2389 EMILIANO ZAPATA',
 '2404 VALLADOLID',
 '2418 COMALCALCO',
 '2453 CASAS GRANDES',
 '2466 LINARES',
 '2569 SAN QUINTÍN',
 '2575 TIJUANA ROSARITO']

In [11]:
new_train_df = pd.merge(new_train_df, town_state_df, on='Agencia_ID')

In [12]:
new_train_df.head(3)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto,ProcessedText,cluster,Town,State
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
1,3,1110,7,3301,73838,1212,3,25.14,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
2,3,1110,7,3301,73844,1212,2,16.76,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."

### Reduce memory usage

In [13]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [14]:
new_df = reduce_mem_usage(new_train_df, verbose=True)

Mem. usage decreased to 5022.82 Mb (47.8% reduction)

In [15]:
new_df

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto,ProcessedText,cluster,Town,State
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
1,3,1110,7,3301,73838,1212,3,25.139999,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
2,3,1110,7,3301,73844,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
3,3,1110,7,3301,198780,1212,4,33.520000,0,0.0,4,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
4,3,1110,7,3301,1159580,1212,3,25.139999,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
5,3,1110,7,3301,1163700,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
6,3,1110,7,3301,1255667,1212,4,33.520000,0,0.0,4,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
7,3,1110,7,3301,1307034,1212,1,8.380000,0,0.0,1,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
8,3,1110,7,3301,1457784,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
9,3,1110,7,3301,1603500,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
10,3,1110,7,3301,1682456,1212,1,8.380000,0,0.0,1,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
11,3,1110,7,3301,2331717,1212,8,67.040001,0,0.0,8,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
12,3,1110,7,3301,2384860,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
13,3,1110,7,3301,2384861,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
14,3,1110,7,3301,2478530,1212,3,25.139999,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
15,3,1110,7,3301,4328602,1212,5,41.900002,0,0.0,5,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
16,3,1110,7,3301,4603047,1212,5,40.650002,0,0.0,5,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
17,3,1110,7,3301,4689667,1212,3,25.139999,0,0.0,3,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
18,3,1110,7,3302,99974,1212,6,50.279999,0,0.0,6,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
19,3,1110,7,3302,664651,1212,16,134.080002,0,0.0,16,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
20,3,1110,7,3302,912498,1212,34,284.920013,0,0.0,34,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
21,3,1110,7,3302,1013817,1212,459,3846.419922,0,0.0,459,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
22,3,1110,7,3302,1172509,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
23,3,1110,7,3302,1285126,1212,5,41.900002,0,0.0,5,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
24,3,1110,7,3302,1298872,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
25,3,1110,7,3302,1626442,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
26,3,1110,7,3302,1717709,1212,2,16.760000,0,0.0,2,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
27,3,1110,7,3302,2052099,1212,4,33.520000,0,0.0,4,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
28,3,1110,7,3302,2387681,1212,1,8.380000,0,0.0,1,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
29,3,1110,7,3302,2451609,1212,20,167.600006,0,0.0,20,Roles Canela 2p 120g BIM 1212,"['role', 'canela', 'p', 'g', 'bim']",1,2008 AG. LAGO FILT,"MÉXICO, D.F."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74180434,9,1156,4,1851,1408515,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180435,9,1156,4,1851,1418662,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180436,9,1156,4,1851,1651035,35989,12,105.599998,0,0.0,12,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180437,9,1156,4,1851,2250362,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180438,9,1156,4,1851,2350139,35989,3,26.400000,0,0.0,3,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180439,9,1156,4,1851,2395208,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180440,9,1156,4,1851,2440844,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180441,9,1156,4,1851,4247666,35989,3,26.400000,0,0.0,3,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180442,9,1156,4,1851,4665403,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180443,9,1156,4,1851,4682174,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180444,9,1156,4,1854,27497,35989,3,26.400000,0,0.0,3,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180445,9,1156,4,1854,37743,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180446,9,1156,4,1854,48458,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180447,9,1156,4,1854,946258,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180448,9,1156,4,1854,1604880,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180449,9,1156,4,1854,1682107,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180450,9,1156,4,1854,1726729,35989,5,44.000000,0,0.0,5,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180451,9,1156,4,1854,1832699,35989,0,0.000000,1,8.8,0,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180452,9,1156,4,1854,1968882,35989,4,35.200001,0,0.0,4,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180453,9,1156,4,1854,1968883,35989,4,35.200001,0,0.0,4,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180454,9,1156,4,1854,1968884,35989,4,35.200001,0,0.0,4,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180455,9,1156,4,1854,2463280,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180456,9,1156,4,1854,4234291,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180457,9,1156,4,1855,713106,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180458,9,1156,4,1855,1276758,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180459,9,1156,4,1855,2271273,35989,3,26.400000,0,0.0,3,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180460,9,1156,4,1855,4216198,35989,2,17.600000,0,0.0,2,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180461,9,1156,4,1855,4253407,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180462,9,1156,4,1855,4380620,35989,1,8.800000,0,0.0,1,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."
74180463,9,1156,4,1855,4388647,35989,3,26.400000,0,0.0,3,Hotcakes Congelado 99g CU LON 35989,"['hotcake', 'congelado', 'g', 'cu', 'lon']",3,2018 AG. TEPALCATES 2,"MÉXICO, D.F."

### Write CSV

In [16]:
new_df.to_csv('../data/new_df.csv',index=False)

---------------