# Feature Engineering 2

### Load data

In [1]:
# Import packages
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

# Autoreload
%load_ext autoreload
%autoreload 2

# Warnings
import warnings
warnings.filterwarnings('ignore')

# Import data
from bimbo.data import Bimbo

data = Bimbo().get_data()

# Load in the train and test datasets
train_df = data['train']
test_df = data['test']
cliente_tabla_df = data['cliente_tabla']
producto_tabla_df = data['producto_tabla']
town_state_df = data['town_state']
sample_submission_df = data['sample_submission']

Memory usage of dataframe is 0.04 MB
Memory usage after optimization is: 0.11 MB
Decreased by -184.7%
Memory usage of dataframe is 14.27 MB
Memory usage after optimization is: 19.51 MB
Decreased by -36.7%
Memory usage of dataframe is 373.80 MB
Memory usage after optimization is: 120.15 MB
Decreased by 67.9%
Memory usage of dataframe is 0.02 MB
Memory usage after optimization is: 0.02 MB
Decreased by 6.0%
Memory usage of dataframe is 6225.47 MB
Memory usage after optimization is: 2122.32 MB
Decreased by 65.9%
Memory usage of dataframe is 106.80 MB
Memory usage after optimization is: 33.38 MB
Decreased by 68.7%

In [2]:
train_df.head(3)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.320000,0,0.0,4

### Create clusters of Products

In [3]:
products_id_clusters_df = pd.read_csv('../data/producto_clusters.csv')

In [4]:
# Create for the train_df
new_train_df = pd.merge(train_df, products_id_clusters_df, how='left', on='Producto_ID')

# Create for the test_df
new_test_df = pd.merge(test_df, products_id_clusters_df, how='left', on='Producto_ID')

### Create a category of location based on zip code

In [5]:
# Create for the new train df
new_train_df = pd.merge(new_train_df, town_state_df, how='left', on='Agencia_ID')

# Create for the new test df
new_test_df = pd.merge(new_test_df, town_state_df, how='left', on='Agencia_ID')

### Feature Engineering

In [6]:
from bimbo.preprocessing import *
from bimbo.feature_engineering import *

#### for the training/validation data (week3 - week8) ===> week9

In [7]:
new_new_train_df = new_train_df[new_train_df['Semana'] < 9]
val_df = new_train_df[new_train_df['Semana'] == 9]

In [8]:
new_new_train_df = data_preprocess(new_new_train_df)

In [9]:
new_new_train_df = change_type_to_categ2(new_new_train_df)

In [10]:
temp = feature_engineering2(new_new_train_df)

In [11]:
val_df = data_preprocess(val_df)

In [12]:
val = merge_feature2(val_df, temp, 'val')

In [13]:
val.to_csv('../data/processed_val_2.csv', index=False)

#### for the test data (week3 - week9) ===> week10 & week11

In [14]:
real_train_df = data_preprocess(new_train_df)

In [15]:
real_train_df = change_type_to_categ2(real_train_df)

In [16]:
temp = feature_engineering2(real_train_df)

In [17]:
test = merge_feature2(new_test_df, temp, 'test')

In [18]:
test.to_csv('../data/processed_test_2.csv', index=False)